{% extends "base.html" %}
{% block content %}
<h2>Add Class Section – {{ course.course_code }}: {{ course.course_name }}</h2>
<form method="POST">
    <label>Instructor:</label>
    <select name="instructor_id">
        <option value="">-- None --</option>
        {% for i in instructors %}
            <option value="{{ i.employee_id }}">{{ i.name }}</option>
        {% endfor %}
    </select><br><br>
    <label>Room:</label>
    <select name="room_id">
        {% for r in rooms %}
            <option value="{{ r.room_id }}">
                {{ r.building_name }} - {{ r.room_number }}
            </option>
        {% endfor %}
    </select><br><br>
    <label>Days:</label><br>
    {% for code, name in [('M','Mon'), ('T','Tue'), ('W','Wed'), ('Th','Thu'), ('F','Fri')] %}
        <label><input type="checkbox" name="days" value="{{ code }}"> {{ name }}</label><br>
    {% endfor %}
    <br>
    <label>Start Time:</label>
    <input type="time" name="start_time" required><br><br>
    <label>End Time:</label>
    <input type="time" name="end_time" required><br><br>
    <label>Capacity:</label>
    <input type="number" name="capacity" value="30"><br><br>
    <button type="submit">Save Section</button>
</form>
<br>
<a href="{{ url_for('admin_course_sections', course_id=course.course_id) }}">Back</a>
{% endblock %}