<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Instructor Portal</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>

<header>
    <h1>Student Database Management System</h1>
    <nav>
        <span>Role:</span>
        <a href-"{{url_for('home') }}">Home</a>
        <a href-"{{url_for('student_portal') }}">Student</a>
        <a href-"{{url_for('instructor_portal') }}">Instructor</a>
        <a href-"{{url_for('admin_portal') }}">Administrator</a>
    </nav>
</header>

<main>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flash'>
          {% for message in messages %}
            <li>{{ message }</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <h2>Instructor Dashboard</h2>
  <p>
      This page represents the <strong>professor</strong> interface for managing courses, rosters, and grades.
  </p>
  
  <div class='card'>

      <div class='card'>
          <h3>My Courses</h3>
      <p>
          TView all courses you are teaching this term, including section numbers and schedules.
      </p>
      <a href='#' class='button'>View Courses</a>
  </div>

   <div class='card'>
      <h3>Class Rosters</h3>
      <p>
          Access student lists, contact information, and attendance records for each class.
      </p>
      <a href='#' class='button'>Open Rosters</a>
   </div>

   <div class='card'>
      <h3>Grades Entry</h3>
      <p>
          Enter or update quiz scores, assignments, and final grades, which are stored in the central database.
      </p>
      <a href='#' class='button'>Enter Grades</a>
   </div>

   <div class='card'>
        <h3>Announcements & Materials</h3>
      <p>
          Post announcements, upload lecture notes, and share resources with students.
      </p>
        <a href='#' class='button'>Manage Announcements</a>
   </div>

</div>
  
</main>

<footer>
    School Database Managament System
</footer>


</body>
</html>
